
*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: $couleur1;
    color: $couleur5;
    scroll-behavior: smooth;
    position: relative;
    width: 100%;
    height: 100%;
}

section{
    width: 100%;
    height: 100%;
    padding: 40px;
    margin-top: 30px;
    position: relative;
    @media screen and (max-width: map-get($breakpoints,tablet-down)){
        padding: 20px;
    }
    @media screen and (max-width: map-get($breakpoints,phone-down)){
        padding: 5px;
    }
    h2{
        text-align: center;
        text-transform: uppercase;
        width: 100%;
        padding: 10px 0;
        background-color: $couleur2;
    }
    h3{
        text-align: center;
        color: $couleur3;
        margin-top: 20px;
    }
}

